<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    {{> header}}
    <h1>{{pageTitle}}</h1>
    <p>Some Text Here</p>
    <footer>
        {{!-- <p>Copyright {{currentYear}} </p> --}}
        {{!-- <p>Note: {{note}}</p> --}}
    {{> footer}}
    {{!-- <h1>"Bichhu hai meri kahani , dimak ki tarah chipak gyi Tum ko."</h1> --}}
</body>
</html>> 